header{
padding:40px;
text-align: center;}
h1{font-size:40px;
color: white;}
header p{color:#c4c4c4;
font-style: italic
}
header img{
	border-radius: 400px;
border: 10px solid #353535;

}
.introdoce{
	max-width: 900px;
	margin: 0 auto;

}
img.big-img{
	max-width: 100%;
}
p.introdoce{
	font-size: 16px;
	color: #cecece;
	text-align: center;
	font-style: italic
}
ul{list-style: none;
padding: 0;
margin: 0;
text-align: center;
}
a{color: red;
text-decoration: none;
}
footer{
	margin-top: 20;
	padding: 40px 20px;
	background-color: #565656
}
footer ul{
	color: white;
	text-align: center;
}
footer ul li{
	display: inline;
	margin: 0 5px;
}
body{
	background-color: #222222;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
p{color: white;
	text-align: center;
}
ol{color: white;
	text-align: center;
border:1px;
width:350px;
margin:0px auto;}
h2{color: white;
	text-align: center;
}
